<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>vn.iotstar.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <display-name>bt2_register</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserService</display-name>
    <servlet-name>UserService</servlet-name>
    <servlet-class>vn.iotstar.service.UserService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserService</servlet-name>
    <url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServiceImpl</display-name>
    <servlet-name>UserServiceImpl</servlet-name>
    <servlet-class>vn.iotstar.service.UserServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServiceImpl</servlet-name>
    <url-pattern>/UserServiceImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDao</display-name>
    <servlet-name>UserDao</servlet-name>
    <servlet-class>vn.iotstar.dao.UserDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDao</servlet-name>
    <url-pattern>/UserDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDaoImpl</display-name>
    <servlet-name>UserDaoImpl</servlet-name>
    <servlet-class>vn.iotstar.dao.UserDaoImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDaoImpl</servlet-name>
    <url-pattern>/UserDaoImpl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>vn.iotstar.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Constant</display-name>
    <servlet-name>Constant</servlet-name>
    <servlet-class>vn.iotstar.Constant</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Constant</servlet-name>
    <url-pattern>/Constant</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBConnection</display-name>
    <servlet-name>DBConnection</servlet-name>
    <servlet-class>vn.iotstar.util.DBConnection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBConnection</servlet-name>
    <url-pattern>/DBConnection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>vn.iotstar.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
</web-app>